name: ci

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - run: brew install --cask gcc-arm-embedded
      - run: brew install hub
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - run: make -C libopencm3
      - run: make
      - if: startsWith(github.ref, 'refs/tags/')
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          assets=()
          for asset in ./*.bin; do
            assets+=("-a" "$asset")
          done
          tag_name="${GITHUB_REF##*/}"
          hub release create -m "$tag_name" "$tag_name" || true
          hub release edit "${assets[@]}" -m "" "$tag_name"
